{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
{% if template contains 'product' %}
    <div class="page-width">
        {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
    </div>
{% endif %}
{% comment %}<div class="emma-footer-banner" href="#">{% endcomment %}
{% comment %}<div class="emma-footer-banner__items">{% endcomment %}
{% comment %}{% comment %} <a class="emma-footer-banner__item">{% endcomment %}
  {% comment %}<div class="emma-footer-banner__item-img">{% endcomment %}
    {% comment %}<img src="{{ 'icon-store-locator.svg' | asset_url }}" loading="eager" width="32" height="32"/>{% endcomment %}
  {% comment %}</div>{% endcomment %}
  {% comment %}<div>Store Locator</div>{% endcomment %}
{% comment %}</a> {% endcomment %}{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}<a class="emma-footer-banner__item" href="/pages/great-sleep-program">{% endcomment %}
{% comment %}<div class="emma-footer-banner__item-img">{% endcomment %}
{% comment %}<img src="{{ 'icon-refer-friend.svg' | asset_url }}" loading="eager" width="32" height="32"/>{% endcomment %}
{% comment %}</div>{% endcomment %}
{% comment %}<div>Refer A Friend</div>{% endcomment %}
{% comment %}</a>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}<a class="emma-footer-banner__item" href="/account/login">{% endcomment %}
{% comment %}<div class="emma-footer-banner__item-img">{% endcomment %}
{% comment %}<img src="{{ 'icon-my-account.svg' | asset_url }}" loading="eager" width="32" height="32"/>{% endcomment %}
{% comment %}</div>{% endcomment %}
{% comment %}<div>My Account</div>{% endcomment %}
{% comment %}</a>{% endcomment %}
{% comment %}</div>{% endcomment %}
{% comment %}</div>{% endcomment %}


<footer class="footer emma-footer px-16	 bg-charade  text-white">
    <div class="emma-footer__top">
        <div class="emma-footer__top__item">
            <div class="emma-footer__top__item__header">
                Join for Exclusive Offers
            </div>
            <div class="emma-footer__top__item__content">
                {%- form 'customer', id: 'ContactFooter', class: 'emma-newsletter' -%}
                <div>
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div>
                        <div class="field emma-newsletter__field">
                            <input
                                    id="NewsletterForm--{{ section.id }}"
                                    type="email"
                                    name="contact[email]"
                                    class="emma-field__input"
                                    value="{{ form.email }}"
                                    aria-required="true"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email"
                                    {% if form.errors %}
                                        autofocus
                                        aria-invalid="true"
                                        aria-describedby="ContactFooter-error"
                                    {% elsif form.posted_successfully? %}
                                        aria-describedby="ContactFooter-success"
                                    {% endif %}
                                    placeholder="Email"
                                    required
                            >
                            <button type="submit" class="field__button emma-newsletter__button" name="commit"
                                    id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                                Subscribe
                            </button>
                        </div>
                        {%- if form.errors -%}
                            <small class="newsletter-form__message form__message"
                                   id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                        {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                        <h3 class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success" tabindex="-1"
                            autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                    {%- endif -%}
                </div>
                <div class="emma-newsletter__checkbox">
                    <input type="checkbox" id="ContactFooterCheckbox" name="customer[accepts_marketing]"
                           value="privacypolicy">
                    <label for="ContactFooterCheckbox">Yes, I would like to receive newsletters, and I have read and
                        accepted the <a class="emma-footer__link" href="/pages/privacy-policy">privacy
                            policy.</a></label>
                </div>
                {% comment %} <div><a href="#" class="emma-text--white emma-link--small">How do I unsubscribe?</a></div> {% endcomment %}
                <div>The email address will naturally be cared for according to our strict <a class="emma-footer__link"
                                                                                              href="/pages/privacy-policy">privacy
                        policy.</a></div>
            </div>
            {%- endform -%}
        </div>

        {% comment %}<div class="emma-footer__top__item">{% endcomment %}
        {% comment %}<div class="emma-footer__top__item__header">{% endcomment %}
        {% comment %}Follow Us{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}<div class="emma-footer__top__item__content emma-footer__top__item__content--padded">{% endcomment %}
        {% comment %}<ul class="emma-footer__top__socials">{% endcomment %}
        {% comment %}<li><a href="https://www.facebook.com/EmmaMattressUsa/" class="emma-footer__link--with-image" target="_blank"><img src="{{ 'icon-facebook.svg' | asset_url }}" loading="eager" width="16" height="16"/>Facebook</a></li>{% endcomment %}
        {% comment %}<li><a href="https://www.instagram.com/emmamattress/" class="emma-footer__link--with-image" target="_blank"><img src="{{ 'icon-instagram.svg' | asset_url }}" loading="eager" width="16" height="16"/>Instagram</a></li>{% endcomment %}
        {% comment %}{% comment %} <li><a href="#" class="emma-footer__link--with-image" target="_blank"><img src="{{ 'icon-twitter.svg' | asset_url }}" loading="eager" width="16" height="16"/>Twitter</a></li> {% endcomment %}{% endcomment %}
        {% comment %}{% comment %} <li><a href="#" class="emma-footer__link--with-image" target="_blank"><img src="{{ 'icon-pinterest.svg' | asset_url }}" loading="eager" width="16" height="16"/>Pinterest</a></li> {% endcomment %}{% endcomment %}
        {% comment %}{% comment %} <li><a href="#" class="emma-footer__link--with-image" target="_blank"><img src="{{ 'icon-spotify.svg' | asset_url }}" loading="eager" width="16" height="16"/> Spotify</a></li> {% endcomment %}{% endcomment %}
        {% comment %}<li><a href="https://www.youtube.com/channel/UCen9M2ptIoK-GimoDpPsF8w" class="emma-footer__link--with-image" target="_blank"><img src="{{ 'icon-youtube.svg' | asset_url }}" loading="eager" width="16" height="16"/> Youtube</a></li>{% endcomment %}
        {% comment %}</ul>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}

        <div class="emma-footer__navigation">
            <div class="emma-footer__navigation-container">
                <div class="emma-footer__navigation__item">
                    <div class="emma-footer__navigation__head">
                        About us
                    </div>
                    <ul class="emma-footer__navigation__links">
                        <li><a href="https://www.youtube.com/channel/UCen9M2ptIoK-GimoDpPsF8w"
                               target="_blank">Design</a></li>
                        <li><a href="https://team.emma-sleep.com/team" target="_blank">Team</a></li>
                        <li><a href="https://www.emma-sleep.com/blogs/stories" target="_blank">Blog</a></li>
                        <li><a href="https://team.emma-sleep.com/press/releases" target="_blank">Press</a></li>
                    </ul>
                </div>

                <div class="emma-footer__navigation__item">
                    <div class="emma-footer__navigation__head">
                        Shopping
                    </div>
                    <ul class="emma-footer__navigation__links">
                        <li><a href="/pages/black-friday-bundles-terms-and-conditions">Promotion Terms & Conditions </a>
                        </li>
                    </ul>
                </div>

                <div class="emma-footer__navigation__item">
                    <div class="emma-footer__navigation__head">
                        Shipping with
                    </div>
                    <ul class="emma-footer__navigation__links">
                        <li><a>FedEx</a></li>
                        <li><a>UPS</a></li>
                    </ul>
                </div>

                {% comment %}<div class="emma-footer__navigation__item">{% endcomment %}
                {% comment %}<div class="emma-footer__navigation__head">{% endcomment %}
                {% comment %}Payment Methods{% endcomment %}
                {% comment %}</div>{% endcomment %}
                {% comment %}<ul class="emma-footer__navigation__links">{% endcomment %}
                {% comment %}<li><a class="emma-footer__link--with-image"><img src="{{ 'icon-mastercard.svg' | asset_url }}" loading="eager" width="16" height="16"/>Mastercard</a></li>{% endcomment %}
                {% comment %}<li><a class="emma-footer__link--with-image"><img src="{{ 'icon-visa.svg' | asset_url }}" loading="eager" width="16" height="16"/>Visa</a></li>{% endcomment %}
                {% comment %}<li><a class="emma-footer__link--with-image" href="https://www.affirm.com/licenses" target="_blank"><img src="{{ 'icon-installments.svg' | asset_url }}" loading="eager" width="16" height="16"/> Installments</a></li>{% endcomment %}
                {% comment %}</ul>{% endcomment %}
                {% comment %}</div>{% endcomment %}
            </div>
        </div>

        <div id="emma-footer__customer-support">
            <div class=""><h6 class="heading-6 mb-4">Customer Support</h6>
                <ul class="grid gap-4 grid-flow-row">
                    <li class="grid gap-3.5 grid-flow-col justify-start items-center hover:underline cursor-pointer">
                        <img class="mx-2.5" src="/assets/phone.svg" width="24" height="24"><a href="tel:+18555803662">1
                            (855) 580 EMMA</a></li>
                    <li class="grid gap-3.5 grid-flow-col justify-start items-center hover:underline cursor-pointer">
                        <img class="mx-2.5" src="/assets/support-email.svg" width="24" height="24"><a
                                href="mailto:support@emma-sleep.com">support@emma-sleep.com</a></li>
                </ul>
            </div>
        </div>

        <div id="emma-footer__follow-us"/>

        <div id="emma-footer__copyright"/>
</footer>

<script defer type="module">
    ReactDOM.render(window.Layouts.Copyright(), document.getElementById("emma-footer__copyright"))

    ReactDOM.render(window.Layouts.FollowUs(), document.getElementById("emma-footer__follow-us"))

</script>

{% javascript %}
class LocalizationForm extends HTMLElement {
constructor() {
super();
this.elements = {
input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
button: this.querySelector('button'),
panel: this.querySelector('ul'),
};
this.elements.button.addEventListener('click', this.openSelector.bind(this));
this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
}

hidePanel() {
this.elements.button.setAttribute('aria-expanded', 'false');
this.elements.panel.setAttribute('hidden', true);
}

onContainerKeyUp(event) {
if (event.code.toUpperCase() !== 'ESCAPE') return;

this.hidePanel();
this.elements.button.focus();
}

onItemClick(event) {
event.preventDefault();
const form = this.querySelector('form');
this.elements.input.value = event.currentTarget.dataset.value;
if (form) form.submit();
}

openSelector() {
this.elements.button.focus();
this.elements.panel.toggleAttribute('hidden');
this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
}

closeSelector(event) {
const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
if (event.relatedTarget === null || shouldClose) {
this.hidePanel();
}
}
}

customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
"name": "t:sections.footer.name",
"blocks": [
{
"type": "link_list",
"name": "t:sections.footer.blocks.link_list.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Quick links",
"label": "t:sections.footer.blocks.link_list.settings.heading.label",
"info": "t:sections.footer.blocks.link_list.settings.heading.info"
},
{
"type": "link_list",
"id": "menu",
"default": "footer",
"label": "t:sections.footer.blocks.link_list.settings.menu.label",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
}
]
},
{
"type": "text",
"name": "t:sections.footer.blocks.text.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Heading",
"label": "t:sections.footer.blocks.text.settings.heading.label"
},
{
"type": "richtext",
"id": "subtext",
"default": "<p>Share store details, promotions, or brand content with your customers.</p>",
"label": "t:sections.footer.blocks.text.settings.subtext.label"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"min": 50,
"max": 200,
"step": 5,
"unit": "px",
"label": "Image width",
"default": 100
},
{
"type": "select",
"id": "alignment",
"label": "Image alignment on large screen",
"options": [
{
"value": "",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
}
]
}
],
"settings": [
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.footer.settings.color_scheme.options__1.label"
},
{
"value": "accent-2",
"label": "t:sections.footer.settings.color_scheme.options__2.label"
},
{
"value": "background-1",
"label": "t:sections.footer.settings.color_scheme.options__3.label"
},
{
"value": "background-2",
"label": "t:sections.footer.settings.color_scheme.options__4.label"
},
{
"value": "inverse",
"label": "t:sections.footer.settings.color_scheme.options__5.label"
}
],
"default": "background-1",
"label": "t:sections.footer.settings.color_scheme.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__1.content",
"info": "t:sections.footer.settings.header__1.info"
},
{
"type": "checkbox",
"id": "newsletter_enable",
"default": true,
"label": "t:sections.footer.settings.newsletter_enable.label"
},
{
"type": "text",
"id": "newsletter_heading",
"default": "Subscribe to our emails",
"label": "t:sections.footer.settings.newsletter_heading.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__2.content",
"info": "t:sections.footer.settings.header__2.info"
},
{
"type": "checkbox",
"id": "show_social",
"default": false,
"label": "t:sections.footer.settings.show_social.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__3.content",
"info": "t:sections.footer.settings.header__4.info"
},
{
"type": "checkbox",
"id": "enable_country_selector",
"default": true,
"label": "t:sections.footer.settings.enable_country_selector.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__5.content",
"info": "t:sections.footer.settings.header__6.info"
},
{
"type": "checkbox",
"id": "enable_language_selector",
"default": true,
"label": "t:sections.footer.settings.enable_language_selector.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__7.content"
},
{
"type": "checkbox",
"id": "payment_enable",
"default": true,
"label": "t:sections.footer.settings.payment_enable.label"
}
],
"default": {
"blocks": [
{
"type": "link_list"
},
{
"type": "text"
}
]
}
}
{% endschema %}
