<div class="hidden emma-section emma-about">
    <div class="emma-about__header" data-aos="fade-slowly" data-aos-duration="3000">
        <div class="emma__subtitle">{{ section.settings.subtitle }}</div>
        <div class="emma-about__heading">{{ section.settings.title }}</div>
        <div class="emma__p emma-about__header__p">
            {{ section.settings.body }}
        </div>
    </div>

    <div class="emma-about__image--centered" data-aos="fade-slowly" data-aos-duration="3000">
        <img src="{{ section.settings.image |  img_url: '860x'}}"/>
    </div>

    <div class="emma-about__container">
        {% for block in section.blocks %}
            <div class="emma-about__point-container" data-aos="fade-up" data-aos-duration="3000">
                <div class="emma-about__point">
                    <div class="emma-about__point__heading">{{ block.settings.title }}</div>
                    <p class="emma-about__point__p">{{ block.settings.body }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "about",
    "settings":
        [{
            "id": "subtitle",
            "type": "text",
            "label": "Subtitle",
            "default": "Subtitle"
        },
        {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "id": "body",
            "type": "text",
            "label": "Body",
            "default": "Insert text here"
        },
        {
            "id": "image",
            "type": "image_picker",
            "label": "image"
        }],
        "blocks": [
            {
                "type": "slide",
                "name": "About Points",
                "settings": [
                    {
                        "type":"text",
                        "id":"title",
                        "label":"Title",
                        "default": "Title"
                     },
                     {
                       "type":"text",
                       "id":"body",
                       "label":"body",
                       "default": "Insert text here"
                    }
                ]
            }
        ]
    }
{% endschema %}
