<style>
    .emma-page__content {
        padding: 2rem 0 4rem;
    }

    .emma-page-mattress__image {
        height: 36rem;
        width: 100%;
    }

    .emma-page-mattress__image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .emma-page-mattress__slides {
        padding: 6rem 0 3rem;
    }
    
    .emma-page-mattress__slide {
        width: 80%;
        margin: 0 auto 5rem;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .emma-page-mattress__slide-img {
        width: 40%;
        display: flex;
        justify-content: end;
    }

    .emma-page-mattress__slide-img img{
        max-width: 100%;
    }

    .emma-page-mattress__slide-text {
        width: 60%;
        padding-left: 7rem;
    }

    .emma-page-mattress__slide-header {
        font-family: Utopia Std;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 129%;
        color: #3C4196;
        
    }

    .emma-page-mattress__slide-subtitle {
        font-family: Acumin Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 179%;
        color: #000000;
    }

    .emma-page-mattress__slide-subtitle p,
    .emma-page-mattress__slide-body p {
        margin: 0;
    }

    .emma-page-mattress__slide-body {
        font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 179%;
        color: #000000;
    }

    @media screen and (max-width: 992px) {
        .emma-page-mattress__image {
            height: 22rem;
        }

        .emma-page-mattress__slide-img {
            width: 100%;
            margin-bottom: 1rem;
            align-items: center;
            justify-content: center;
        }

        .emma-page-mattress__slide-img {
            max-width: 100%;
        }

        .emma-page-mattress__slide-text {
            width: 100%;
            padding-left: 0;
        }
        .emma-page-mattress__slide {
            flex-direction: column;
        }

    }

    @media screen and (max-width: 568px) {
        .emma-page-mattress__slides {
            padding: 0rem 0 3rem;
        }
        .emma-page-mattress__slide-subtitle {
            font-size: 1.2rem;
        }
        .emma-page-mattress__slide-body {
            font-size: 1.2rem;
        }
        .emma-page-mattress__slide-img {
            margin-bottom: -2rem;
        }
        .emma-page-mattress__slide {
            margin: 0 auto 1rem;
        }
        .emma-page-mattress__image {
            height: 11rem;
        }
    }
</style>

<div class="emma-page-mattress__image">
    <img src="{{ section.settings.mattress_image | img_url: '1000x' }}" />
</div>

<div class="emma-page-mattress__slides">
    {% for block in section.blocks %}
    <div class="emma-page-mattress__slide">
        <div class="emma-page-mattress__slide-img">
            <img src="{{ block.settings.image | img_url: '445x' }}" />
        </div>

        <div class="emma-page-mattress__slide-text">
            <div class="emma-page-mattress__slide-header">{{block.settings.header}}</div>
            <div class="emma-page-mattress__slide-subtitle">{{block.settings.subtitle}}</div>
            <div class="emma-page-mattress__slide-body">{{block.settings.body}}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Emma Page Mattress",
  "settings": [
    {
        "type": "image_picker",
        "id": "mattress_image",
        "label": "image"
      }
  ],
  "blocks": [
      {
          "type": "slide",
          "name": "Mattress Sizes",
          "settings": [
            {
                "type":"text",
                "id":"header",
                "label":"Title",
                "default": "Title"
            },
            {
                "type":"richtext",
                "id":"subtitle",
                "label":"Subtitle",
                "default": "<p>Add your text here</p>"
            },
            {
                "type":"richtext",
                "id":"body",
                "label":"body",
                "default": "<p>body</p>"
            },
            {
                "type":"image_picker",
                "id":"image",
                "label":"Image"
            }
          ]
      }
  ]
}
{% endschema %}