<div class="emma-product-section4 page-width">
    {% for block in section.blocks %}

    {%- case block.type -%}
    {%- when 'emma_card1' -%}
    <div class="emma-product-section4__item section4__item1" data-aos="fade-right" 
      data-aos-duration="1500" data-aos-easing="ease-out"
      data-aos-anchor-placement="top-bottom">
      <div class="emma--relative">
        <div class="indigo-box indigo-box1">
          <img src="{{block.settings.image |  img_url: '530x'}}" loading="lazy" />
        </div>
      </div>
      <div class="emma-product-section4__item__text">
        <div class="emma-product__sub-heading">{{ block.settings.subtitle }}</div>
        <div class="emma-product__heading emma-product__heading--indigo">{{ block.settings.header }}</div>
        <div>{{ block.settings.body }}</div>
      </div>
    </div>
    
    {%- when 'emma_card2' -%}
    <div class="emma-product-section4__item section4__item2" data-aos="fade-left"
       data-aos-duration="1500" data-aos-easing="ease-out" 
       data-aos-anchor-placement="top-bottom">
       <div class="emma--relative">
        <div class="indigo-box indigo-box2">
          <img src="{{block.settings.image |  img_url: '530x'}}" loading="lazy" />
        </div>
      </div>
      <div class="emma-product-section4__item__text">
        <div class="emma-product__sub-heading">{{ block.settings.subtitle }}</div>
        <div class="emma-product__heading emma-product__heading--indigo">{{ block.settings.header }}</div>
        <div>{{ block.settings.body }}</div>
      </div>
    </div>
  
    {%- when 'emma_card3' -%}
    <div class="emma-product-section4__item section4__item3" 
      data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-out"
      data-aos-anchor-placement="top-bottom">
      <div class="emma--relative">
        <div class="indigo-box indigo-box3">
          <img src="{{block.settings.image |  img_url: '530x'}}" loading="lazy" />
        </div>
      </div>
      <div class="emma-product-section4__item__text">
        <div class="emma-product__sub-heading">{{ block.settings.subtitle }}</div>
        <div class="emma-product__heading emma-product__heading--indigo">{{ block.settings.header }}</div>
        <div>{{ block.settings.body }}</div>
      </div>
    </div>

    {%- endcase -%}
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Emma Product Three Images",
    "settings": [],
    "blocks":[
        {
            "type": "emma_card1",
            "name": "Card 1",
            "settings": [
                {
                    "id": "subtitle",
                    "type": "text",
                    "label": "Subtitle",
                    "default": "Subtitle"
                },
                {
                    "id": "header",
                    "type": "text",
                    "label": "Header",
                    "default": "Header"
                },
                {
                    "id": "body",
                    "type": "text",
                    "label": "body",
                    "default": "Body"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                  }
            ]
        },
        {
            "type": "emma_card2",
            "name": "Card 2",
            "settings": [
                {
                    "id": "subtitle",
                    "type": "text",
                    "label": "Subtitle",
                    "default": "Subtitle"
                },
                {
                    "id": "header",
                    "type": "text",
                    "label": "Header",
                    "default": "Header"
                },
                {
                    "id": "body",
                    "type": "text",
                    "label": "body",
                    "default": "Body"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                  }
            ]
        },
        {
            "type": "emma_card3",
            "name": "Card 3",
            "settings": [
                {
                    "id": "subtitle",
                    "type": "text",
                    "label": "Subtitle",
                    "default": "Subtitle"
                },
                {
                    "id": "header",
                    "type": "text",
                    "label": "Header",
                    "default": "Header"
                },
                {
                    "id": "body",
                    "type": "text",
                    "label": "body",
                    "default": "Body"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                  }
            ]
        }
    ]
  }
{% endschema %}