{{ 'emma-homepage.css' | asset_url | stylesheet_tag }} {{ 'emma-home-animations.css' | asset_url | stylesheet_tag }}

<div class="emma-home-hero">
    <div class="emma-home-hero__background">
        <div class="emma-home-hero__background__animations">&nbsp;</div>
    </div>
    <div class="emma__subtitle">{{ section.settings.hero_subtitle }}</div>
    <div class="emma-home__heading">
        {{ section.settings.hero_title }}
    </div>
    <div class="emma-home__cta">
        <a class="emma-button__primary" href="{{ section.settings.hero_url }}">{{ section.settings.hero_cta }}</a>
    </div>
    <div class="emma-background-circle-container">
        <div class="emma-background-circle">&nbsp;</div>
    </div>
    <div class="emma-home__image">
        <img src="{{ section.settings.hero_image | img_url: 'x520' }}" loading="lazy">
    </div>
</div>

{% for block in section.blocks %}
    <div class="emma-section emma-custom-sale-banner ">
        <div>{{ block.settings.banner_title }}</div>
        <div>
            {% include 'countdown-timer', title: "Until Sale Ends", end_date: "March 9, 2022" %}
        </div>
        <div>{{ block.settings.banner_body }}</div>
    </div>
{% endfor %}

<div class="emma-home-subhero emma-section">
    <div class="emma-home-subhero__grid">
        <div class="emma-home-subhero__grid__text">
            {{ section.settings.subhero_text }}
        </div>
        <div class="emma-home-subhero__grid__image emma-home-subhero__grid__image--margins emma--relative">
            <div class="emma-home-subhero__circle emma-home-subhero__circle1 emma-wave">&nbsp;</div>
            <img src="{{ section.settings.subhero_image1 | img_url: '500x' }}">
        </div>
        <div class="emma-home-subhero__grid__image emma--relative">
            <div class="emma-home-subhero__circle emma-home-subhero__circle2 emma-wave">&nbsp;</div>
            <img src="{{ section.settings.subhero_image2 | img_url: '750x' }}">
        </div>
        <div class="emma-home-subhero__grid__text">
            {{ section.settings.subhero_text2 }}
        </div>
    </div>
</div>

